# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Logs
*.log

# APK / Builds
*.apk
*.aab